div a.frontpage-logo img {
    background-color: white;
    height: 6rem;
    width: 22rem;
}

/*.reveal .slides > section.present.cool {
    background-image: url(/images/ifelse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.reveal section img {
    margin: 0;
    background: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
}

.reveal blockquote {
    width: 90%
}